html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background: border-box url(../assets/images/argyle.png) rgba(188, 181, 188, 0.6) repeat;
	background-size: cover;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(45, 45, 45, 1);
  background-color: rgba(234, 234, 234, 0.6);
}

/*
body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(188, 181, 188);
  background-image: url(../assets/images/argyle.png);
  background-position: top left;
  background-repeat: repeat;
  opacity: 0.4;
  z-index: -1;
}
*/

.bg-img img {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px){
  img.bg {
    left: 50%;
    margin-left: -512px; }
}

/*
#page-wrap {
  position: relative;
  width: 400px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  -moz-box-shadow: 0 0 20px black;
  -webkit-box-shadow: 0 0 20px black;
  box-shadow: 0 0 20px black;
}
*/

.container {
  margin: 0 2em;
  padding: 0.6em;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  outline: none;
  color: rgba(137, 119, 95, 0.6);
}

a:hover {
  color: rgba(137, 119, 95, 1)
}

hr {
  color: rgb(45, 45, 45);
}

/* ======== main ======== */
header {
  display: flex;
  flex-direction: row;
  border-bottom: 0.25em solid rgba(45, 45, 45, 0.1);
}

header h1 {
  font-size: 2.2em;
  font-weight: 400;
  letter-spacing: 1.2em;
  line-height: 1.8em;
}

header h2 {
  font-size: 1.6em;
  font-weight: 300;
  font-style: italic;
  padding: 0 0 0.4em 0;
}

.header-txt-wrapper {
  display: flex;
  flex-direction: column;
  border-left: 0.25em solid rgba(45, 45, 45, 0.1);
  padding: 1em 2em;
}

.header-img {
  margin: 0 2em 0 0;
  padding: 0;
}

.header-img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 0.2em solid rgba(45, 45, 45, 0.1);
  border-radius: 0.6em;
  box-shadow: 0.2em 0.2em 4em rgba(45, 45, 45, 0.2);
}

.header-img-wrapper img {
  margin: 0;
  padding: 0;
  width: 10em;
  height: auto;
}

/* ======== main ======== */
main {
  display: block;
  /* flex-direction: column; */
  padding: 1em 2em;
}

.main-img-wrapper {
  display: inline-block;
  margin: 1em;
  padding: 0.8em;
  /* text-align: right; */
  border: 0.2em solid rgba(45, 45, 45, 0.1);
  border-radius: 0.6em;
  box-shadow: 0.2em 0.2em 4em rgba(45, 45, 45, 0.4);
  background-color: rgba(234, 234, 234, 0.4);
}

#main-img-wrapper-1 {
  float: right;
  justify-content: right;
}

#main-img-1 img {
  width: 8em;
  height: auto;
}

#main-img-wrapper-2 {
  float: left;
  justify-content: left;
}

#main-img-2 img {
  width: 8em;
  height: auto;
}

/* ======== footer and beyond ======== */
footer {
  text-align: center;
  margin: 2em 0;
  padding: 2em 0 0 0;
  border-top: 0.25em solid rgba(45, 45, 45, 0.1);
}
