@media screen 
  and (max-device-width: 1220px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .quote-container {
      margin: auto 0.8em;
    }
    .quote-text {
      font-size: $font-size-7;
      .fa-quote-left {
        font-size: $font-size-8;
      }
    }
}
