@mixin reset-0 {
  margin: 0;
  padding: 0;
}

/* ======== flex ======== */
@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/* ======== CSS patterns ======== */
@mixin bg-pattern-1 {
  background-color: $grey-lt-300;
  background-image: url($bg-pattern-1-url);
}

@mixin bg-pattern-2 {
  background-color: $grey-lt-300;
  background-image: url($bg-pattern-2-url);
}
