header {
  @include flex-column-center;
  // border-bottom: $border-fat;
  h1 {
    font-size: $font-size-9;
    font-weight: 300;
    letter-spacing: 1.2em;
    padding: 0.5em;
    margin: 2em auto;
  }
}








