main {
  @include flex-column-center;
  padding: 1em 2em;
  .quote-container {
    width: auto;
    max-width: 56.25em;
    padding: 1.1em 1.9em;
    text-align: center;
    background-color: $quote-bg-color;
    border-radius: $border-radius-xl;
    box-shadow: $box-shadow;
    .quote-text {
      font-size: $font-size-8;
      font-weight: 400;
      line-height: 1.6em;;
      .fa-quote-left {
        font-size: $font-size-8;
      }
    }
    .long-quote {
      font-size: $font-size-6;
    }
    .quote-author {
      margin: 1em auto;
      padding-top: 0.8em;
      font-size: $font-size-7;
      font-weight: 300;
      font-style: italic;
      border-top: $border-med;
      #pen-icon {
        padding-right: 0.4em;
      }
    }
  }
}
